* {
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #7C2b72;
}

#calculator {
    height: 500px;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    background-color: #79a7d3;
    box-shadow: 5px 10px #282828;
}

#display {
    height: 100px;
    width: 95%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px auto 0 auto;
    background-color: #6883bc;
}

.content {
    height: 80px;
    width: 100%;
    margin-top: 18px;
}

.content p {
    font-size: 40px;
    margin-top: 40px;
    float: right;
    margin-right: 20px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    height: 365px;
    width: 95%;
    margin: 15px auto 0 auto;
}

.button {
    height: 65px;
    width: 65px;
    border: 2px solid black;
    border-radius: 50%;
}

.button:hover {
    cursor: pointer;
}

.button p {
    text-align: center;
    margin-top: 30%;
    font-size: 20px;
}

#zero {
    grid-column: 1 / 3;
    grid-row: 5;
    width: 85%;
    border-radius: 35px;
}

#zero p {
    margin-top: 15%;
}

#divide, #multiply, #subtract, #addition, #equals {
    background-color: #8a307f;
}
 
#divide:hover, #multiply:hover, #subtract:hover, #addition:hover, #equals:hover {
    background-color: #7C2b72;
}

#clear, #sign, #percentage {
    background-color: #484848;
}

#clear:hover, #sign:hover, #percentage:hover {
    background-color: #404040;
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #decimal {
    background-color: #6883bc;
}

#seven:hover, #eight:hover, #nine:hover, #four:hover, #five:hover, #six:hover, #one:hover, #two:hover, #three:hover, #zero:hover, #decimal:hover {
    background-color: #4f6aa3;
}